@model VaabenbogenConsumer.Models.Vaaben

@{
    ViewData["Title"] = "Opret";
}

<h1>Opret Våben</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabrikant" class="control-label"></label>
                <input asp-for="Fabrikant" class="form-control" />
                <span asp-validation-for="Fabrikant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ladefunktion" class="control-label"></label>
                <select asp-for="Ladefunktion" class="form-control" asp-items="@(ViewBag.LadefunktionOptions)"></select>
                <span asp-validation-for="Ladefunktion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loebenummer" class="control-label"></label>
                <input asp-for="Loebenummer" class="form-control" />
                <span asp-validation-for="Loebenummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@(ViewBag.TypeOptions)"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@(ViewBag.StatusOptions)"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger" role="button">Tilbage</a>
            </div>
        </form>
        <br />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
