@model VaabenbogenConsumer.Models.ViewModels.SoegVaaben
@{
    ViewData["Title"] = "Hjem";
}
<div class="container mt-4">
    <div class="text-center mb-5">
        <h1 class="display-4">Velkommen</h1>
        <p>Administrér din Våbenbog her.</p>
        <hr />
    </div>
    <div class="row mb-4">
        <!-- News Section -->
        <div class="col-md-6">
            <h3>Seneste opdateringer</h3>
            <ul class="list-group">
                <li class="list-group-item">Nyhed 3 - Tilføjet udskrivelse til Politiet</li>
                <li class="list-group-item">Nyhed 2 - Tilføjet Våben</li>
                <li class="list-group-item">Nyhed 1 - Start</li>
            </ul>
        </div>
        <!-- Actions Section -->
        <div class="col-md-6">
            <h3>Hurtig adgang</h3>
            <div class="d-grid gap-3">
                <a class="btn btn-lg btn-primary" asp-controller="Jaeger" asp-action="Create">Opret Kunde</a>
                <a class="btn btn-lg btn-primary" asp-controller="Vaaben" asp-action="Create">Indregistrér Våben</a>
                <a class="btn btn-lg btn-primary" asp-controller="Vaaben" asp-action="Index">Udskriv Våben</a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <!-- Search Index -->
        <partial name="_SearchWeaponPartial" model="@(ViewBag.SoegVaabenObject)" />
    </div>
</div>