@model VaabenbogenConsumer.Models.ViewModels.SoegVaaben
<div class="col-md-12">
    <h3>Søg i Våbenbogen</h3>
    <form asp-controller="Vaaben" asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Navn" class="control-label"></label>
                    <input asp-for="Navn" class="form-control" />
                    <span asp-validation-for="Navn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Fabrikant" class="control-label"></label>
                    <input asp-for="Fabrikant" class="form-control" />
                    <span asp-validation-for="Fabrikant" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Ladefunktion" class="control-label"></label>
                    <select asp-for="Ladefunktion" class="form-control" asp-items="@(ViewBag.LadefunktionOptions)"></select>
                    <span asp-validation-for="Ladefunktion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Loebenummer" class="control-label"></label>
                    <input asp-for="Loebenummer" class="form-control" />
                    <span asp-validation-for="Loebenummer" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control" asp-items="@(ViewBag.TypeOptions)"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="@(ViewBag.StatusOptions)"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Søg" class="btn btn-lg btn-primary" />
                </div>
            </div>
            <div class="col">
                <div class="form-group float-end">
                    <a class="btn btn-lg btn-danger" asp-action="ResetSearch" asp-controller="Vaaben">Nulstil</a>
                </div>
            </div>
        </div>
        <div class="mt-3 col-md-6">
            
        </div>
    </form>
</div>